body{
  margin: 0;
  font-family: 'Architects Daughter';
}
a{
  text-decoration: none;
  color: black;
  font-family: 'Architects Daughter';
}
h1{
  text-align: center;
  font-size: 45px;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 20px;
  font-family: 'Architects Daughter';
}
.WEB{
  text-decoration: underline;
  color: red;
}
.HTML{
  text-decoration: underline;
  color: red;
}
.CSS{
  text-decoration: underline;
  color: red;
}
.JS{
  text-decoration: underline;
  color: red;
}
ol{
  border-right: 1px solid black;
  width: 100px;
  margin: 0;
  padding: 20px;
  padding-left: 40px;
  padding-right: 10px;
  font-family: 'Architects Daughter';
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left: 20px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  ol{
    border-right:none;
  }
}

.kr{
  font-family: 'Nanum Pen Script';
  text-align: center;
  text-decoration: underline;
  color: red;
  font-family: 'Nanum Pen Script';
}

.krarticle{
  padding-left: 20px;
  font-family: 'Nanum Pen Script';
  font-size: 20px;
}

.kr{
   font-family: 'Nanum Pen Script';
   text-align: center;
   text-decoration: underline;
   color: gray;
   font-size: 20px;
}
